USE [master]
GO
/****** Object:  Database [Blog]    Script Date: 04-Apr-18 10:37:09 PM ******/
CREATE DATABASE [Blog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Blog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Blog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Blog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Blog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Blog]
GO
USE [Blog]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 04-Apr-18 10:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Intro] [varchar](500) NULL,
	[FacebookLink] [varchar](100) NULL,
	[LinkedinLink] [varchar](100) NULL,
	[GithubLink] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_article]    Script Date: 04-Apr-18 10:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_article](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BloggerID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Details] [varchar](max) NOT NULL,
	[Image] [varchar](50) NOT NULL,
	[Views] [int] NULL,
	[Date] [varchar](50) NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_article] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_blogger]    Script Date: 04-Apr-18 10:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_blogger](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Intro] [varchar](500) NULL,
	[FacebookLink] [varchar](100) NULL,
	[LinkedinLink] [varchar](100) NULL,
	[GithubLink] [varchar](100) NULL,
	[Image] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_blogger] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 04-Apr-18 10:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_article]  WITH CHECK ADD  CONSTRAINT [FK_tbl_article_tbl_blogger] FOREIGN KEY([BloggerID])
REFERENCES [dbo].[tbl_blogger] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_article] CHECK CONSTRAINT [FK_tbl_article_tbl_blogger]
GO
ALTER TABLE [dbo].[tbl_article]  WITH CHECK ADD  CONSTRAINT [FK_tbl_article_tbl_category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tbl_category] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_article] CHECK CONSTRAINT [FK_tbl_article_tbl_category]
GO
USE [master]
GO
